<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" typo="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/alerta.js' %}"></script>
    <title>Document</title>
</head>
<body>
   <h1 class="h1"> hola hola cara de chola</h1> 
   <p> asñlkhgasñdlkhflñaksdhñlfkhasdfklhasdlkfhaspdfhasdklfhasdoñfhaslñdkhflasdkfjaskdgfksgdkjfk}}}  </p>
<img src="{% static 'img/descarga.png' %}" width="250px">
   <h2 class="h2">   hola hola caracopla </h2>


    
</body>
</html>